<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Menambahkan izin untuk merekam audio dan akses lokasi -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="Todo List App"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        
        <!-- Menambahkan Meta-Data untuk API Key Google Maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDAAIgrLtWdL3epaLV2INfrX3HoHMokvyA" />

        <!-- Activity utama aplikasi -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <!-- Tema Normal untuk Flutter -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Jangan hapus meta-data di bawah ini, digunakan oleh Flutter untuk registrasi plugin -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- Query untuk aktivitas pengenalan suara -->
    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
        <!-- Required to query activities that can process text -->
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
